@{
    ViewBag.Title = "Home Page";
}
<div class="section fullHeight">
    <div class="container">
        
    </div>
</div>
<div  id="welkom" class="section fullHeight">
    <div class="container">
        <h1>Aardsmooi</h1>
    </div>
</div>
<div id="behandelingen" class="section fullHeight sColor">
    <div class="container">
        <h1>Behandelingen</h1>
    </div>
</div>
<div id="cadeaubon" class="section fullHeight">
    <div class="container">
        <h1>Cadeaubon</h1>
    </div>
</div>

<div id="contact" class="section fullHeight sColor">
    <div class="container">
        <h1>Contact</h1>
        <row>
            <div class="col-xs-12" id="contact-div">
                @*<table>
                    <tr>
                        <th>
                            <i class="fa fa-map-marker fa-lg"></i>
                        </th>
                        <th>Otterstraat 11, 2440 Geel</th>
                    </tr>
                    <tr>
                        <th>
                            <i class="fa fa-phone fa-lg"></i>
                        </th>
                        <th><a href="tel:0497103676"><span class="text"> 0497/10.36.76</span></a></th>
                    </tr>
                    <tr>
                        <th>
                            <i class="fa fa-envelope-o  fa-lg"></i>
                        </th>
                        <th><a href="mailto:info@aardsmooi.be"><span class="text"> info@aardsmooi.be</span></a></th>
                    </tr>
                    <tr>
                        <th>
                            <i class="fa fa-facebook fa-lg"></i>
                        </th>
                        <th><a href="http://www.facebook.com/aardsmooi/"><span class="text"> facebook/aardsmooi</span></a></th>
                    </tr>
                </table>*@
                <span class="txtAddress"><b>Aardsmooi</b></span><br />
                <i class="fa fa-map-marker fa-lg"></i><span class="txtAddress"> Otterstraat 11, 2440 Geel</span><br />
                <i class="fa fa-phone fa-lg"></i><a href="tel:0497103676"><span class="txtAddress"> 0497/10.36.76</span></a><br />
                <i class="fa fa-envelope-o  fa-lg"></i><a href="mailto:info@aardsmooi.be"><span class="txtAddress"> info@aardsmooi.be</span></a><br />
                <i class="fa fa-facebook fa-lg"></i><a href="http://www.facebook.com/aardsmooi/"><span class="txtAddress"> facebook/aardsmooi</span></a><br />
            </div>
        </row>
        <row>
            <div id="social-media">
                <div class="fb-like" data-href="https://facebook.com/aardsmooi" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>

            </div>
        </row>
    </div>
</div>


